$image-height-landscape: 300px;
$image-height-portrait: 500px;
$image-height-mobile: 400px;
.ventures {
  //background-color: blue;
  .projects {
    padding: 40px 0;

    h1 {
      margin-bottom: 40px;
      text-align: center;
    }

    .grid-container {
      display: grid;
      grid-template: $image-height-landscape $image-height-portrait / repeat(
          4,
          1fr
        );
      gap: 8px;
      grid-template-areas: 'project1 project1 project2 project2' 'project3 project4 project5 project6';
    }
    .grid-item {
      width: 100%;
      .card {
        position: relative;
        border: 0px;
        &.landscape {
          img,
          .card-overlay {
            height: $image-height-landscape;
          }
        }
        &.portrait {
          img,
          .card-overlay {
            height: $image-height-portrait;
          }
        }
        img {
          width: 100%;
          object-fit: cover;
        }
        .card-overlay {
          position: absolute;
          z-index: 1;
          top: 0;
          width: 100%;
          background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 80%,
            rgba(0, 0, 0, 0.9) 100%
          );
        }
        .card-content {
          position: absolute;
          z-index: 2;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .card-bookmark {
            padding: 0 16px;
            text-align: right;
            .bookmark {
              width: 50px;
              text-align: center;
              margin-left: auto;

              .bookmark-body {
                padding: 8px 4px 2px 4px;
                background: linear-gradient(
                  180deg,
                  #0154a9 0%,
                  #0071e3 46.88%,
                  #0071e3 100%
                );
                .icon {
                  width: 24px;
                  color: white;
                  margin-bottom: 8px;
                }
              }
              .bookmark-footer {
                display: flex;
              }
            }
          }
          .card-info {
            padding: 8px;
            background: linear-gradient(
              180deg,
              rgba(0, 0, 0, 0.1) 0%,
              rgba(0, 0, 0, 0.9) 100%
            );
            text-align: center;
            color: white;
            .card-badge {
              border: 1px solid white;
              border-radius: 4px;
              margin-bottom: 0px;
              padding: 6px 8px;
              font-weight: 500;
              font-size: 0.8rem;
              letter-spacing: -0.02rem;
            }
            .card-title {
              text-transform: uppercase;
              font-weight: 700;
              font-size: 1.875rem;
              margin-bottom: 4px;
            }
            .card-investment {
              font-size: 0.8rem;
              margin-bottom: 8px;
            }
          }
        }
      }
    }
    .project-1 {
      grid-area: project1;
    }
    .project-2 {
      grid-area: project2;
    }
    .project-3 {
      grid-area: project3;
    }
    .project-4 {
      grid-area: project4;
    }
    .project-5 {
      grid-area: project5;
    }
    .project-6 {
      grid-area: project6;
    }
  }
}

@media (max-width: 767px) {
  .ventures {
    .projects {
      padding: 10px 0;

      h1 {
        margin: 40px 0;
        text-align: center;
      }

      .grid-container {
        display: block;
      }
      .grid-item {
        width: 100%;
        margin-bottom: 30px;
        .card {
          position: relative;
          border: 0px;
          &.landscape {
            img,
            .card-overlay {
              height: $image-height-mobile;
            }
          }
          &.portrait {
            img,
            .card-overlay {
              height: $image-height-mobile;
            }
          }
          img {
            width: 100%;
            object-fit: cover;
          }
          .card-overlay {
            position: absolute;
            z-index: 1;
            top: 0;
            width: 100%;
            background: linear-gradient(
              180deg,
              rgba(0, 0, 0, 0) 80%,
              rgba(0, 0, 0, 0.9) 100%
            );
          }
          .card-content {
            position: absolute;
            z-index: 2;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .card-bookmark {
              padding: 0 16px;
              text-align: right;
              .bookmark {
                width: 50px;
                text-align: center;
                margin-left: auto;

                .bookmark-body {
                  padding: 8px 4px 2px 4px;
                  background: linear-gradient(
                    180deg,
                    #0154a9 0%,
                    #0071e3 46.88%,
                    #0071e3 100%
                  );
                  .icon {
                    width: 24px;
                    color: white;
                    margin-bottom: 8px;
                  }
                }
                .bookmark-footer {
                  display: flex;
                }
              }
            }
            .card-info {
              padding: 8px;
              background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0.1) 0%,
                rgba(0, 0, 0, 0.9) 100%
              );
              text-align: center;
              color: white;
              .card-badge {
                border: 1px solid white;
                border-radius: 4px;
                margin-bottom: 0px;
                padding: 6px 8px;
                font-weight: 500;
                font-size: 0.8rem;
                letter-spacing: -0.02rem;
              }
              .card-title {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 1.875rem;
                margin-bottom: 4px;
              }
              .card-investment {
                font-size: 0.8rem;
                margin-bottom: 8px;
              }
            }
          }
        }
      }
      .project-1 {
        grid-area: project1;
      }
      .project-2 {
        grid-area: project2;
      }
      .project-3 {
        grid-area: project3;
      }
      .project-4 {
        grid-area: project4;
      }
      .project-5 {
        grid-area: project5;
      }
      .project-6 {
        grid-area: project6;
      }
    }
  }
}
