.product {
  position: relative;
  .menu {
    background-color: #fff;
    position: sticky;
    padding: 20px 0;
    top: 76px;
    z-index: 99;
    .nav {
      padding: 8px 0;
      .nav-item {
        margin-right: 8px;
        .nav-link {
          border: 1px solid $gray-400;
          display: flex;
          align-items: center;
          font-size: 0.8rem;
          color: $gray-800;
          cursor: pointer;
          .icon {
            color: $gray-600;
            height: 12px;
            margin-right: 6px;
          }
          &:hover,
          &.active {
            background-color: $primary;
            color: white;
            .icon {
              color: $gray-400;
            }
          }
        }
      }
    }
    .status {
      width: 200px;
      text-align: center;
      margin: auto;
      span {
        text-align: center;
        text-transform: uppercase;
        font-size: 1.1rem;
        font-weight: 700;
      }
      .progress,
      .progress-bar {
        border-radius: 4px;
      }
    }
  }
}

@media (max-width: 1300px) {
  .product {
    position: relative;
    .menu {
      .nav {
        padding: 0;
        justify-content: center;
        .nav-item {
          margin: 4px;
        }
      }
      .status {
        padding: 16px 0;
      }
    }
  }
}
