.product {
  .slides {
    margin-bottom: 40px;
    .carousel-control-prev,
    .carousel-control-next {
      background-color: white;
      height: 43px;
      width: 54px;
      margin: auto 0;
      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        background-size: 10px;
        opacity: 1;
      }
    }
    .carousel-inner {
      .carousel-item {
        img {
          width: 100%;
          height: 400px;
          object-fit: cover;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .product {
    .carousel {
      .carousel-control-prev,
      .carousel-control-next {
        height: 43px;
        width: 34px;
      }
      .carousel-inner {
        .carousel-item {
          img {
            height: 240px;
          }
        }
      }
    }
  }
}
