$product-hero-heigth-desktop: 445px;
$product-hero-heigth-tablet: 445px;
$product-hero-heigth-mobile: 385px;
.product {
  .hero {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8) 84.37%,
      #000000 100%
    );
    position: relative;
    .hero-bg {
      height: $product-hero-heigth-desktop;
      width: 100%;
      object-fit: cover;
    }
    .hero-overlay {
      height: $product-hero-heigth-desktop;
      position: absolute;
      z-index: 1;
      top: 0;
      width: 100%;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 80%,
        rgba(0, 0, 0, 0.9) 100%
      );
    }
    .hero-content {
      position: absolute;
      z-index: 2;
      top: 0;
      width: 100%;
      .container {
        height: $product-hero-heigth-desktop;
        display: flex;
        justify-content: space-between;
        .info {
          color: white;
          align-self: flex-end;
          margin-bottom: 4px;
          .badge {
            border: 1px solid white;
            border-radius: 4px;
            margin-bottom: 12px;
            padding: 6px 8px;
            font-weight: 500;
            letter-spacing: -0.02rem;
          }
          h1 {
            span {
              text-transform: uppercase;
              font-weight: 700;
            }
            small {
              font-size: 2rem;
              font-weight: 300;
            }
          }
        }
        .bookmark {
          width: 120px;
          text-align: center;

          .bookmark-body {
            padding: 12px 4px;
            background: linear-gradient(
              180deg,
              #0154a9 0%,
              #0071e3 46.88%,
              #0071e3 100%
            );
            .icon {
              width: 24px;
              color: white;
              margin-bottom: 8px;
            }
            .text {
              text-transform: uppercase;
              color: white;
              font-size: 0.8rem;
              font-weight: 700;
            }
          }
          .bookmark-footer {
            display: flex;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .product {
    .hero {
      background-color: #000;
      position: relative;
      .hero-bg {
        height: $product-hero-heigth-mobile;
        width: 100%;
        object-fit: cover;
      }
      .hero-overlay {
        height: $product-hero-heigth-mobile;
      }
      .hero-content {
        position: absolute;
        top: 0;
        width: 100%;
        .container {
          height: $product-hero-heigth-mobile;
          display: flex;
          justify-content: space-between;
          .info {
            color: white;
            align-self: flex-end;
            margin-bottom: 4px;
            .badge {
              border: 1px solid white;
              border-radius: 4px;
              margin-bottom: 12px;
              padding: 6px 8px;
              font-weight: 500;
              letter-spacing: -0.02rem;
            }
            h1 {
              display: flex;
              flex-direction: column;
              span {
                text-transform: uppercase;
                line-height: 2.4rem;
              }
              small {
                font-size: 1.4rem;
                font-weight: 300;
              }
            }
          }
          .bookmark {
            width: 40px;
            text-align: center;

            .bookmark-body {
              padding: 12px 8px;
              background: linear-gradient(
                180deg,
                #0154a9 0%,
                #0071e3 46.88%,
                #0071e3 100%
              );
              .icon {
                width: 24px;
                color: white;
                margin-bottom: 8px;
              }
              .text {
                display: none;
              }
            }
            .bookmark-footer {
              display: flex;
            }
          }
        }
      }
    }
  }
}
