footer {
  background-color: #000;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  .container {
    height: 360px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .logo {
      margin-bottom: 26px;
      width: 200px;
    }
    .title {
      text-transform: uppercase;
      padding-bottom: 20px;
      border-bottom: 1px solid white;
      font-weight: 500;
      margin-bottom: 20px;
    }
    .text {
      font-weight: 400;
      font-size: 0.8rem;
      b {
        font-weight: 600;
      }
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        font-size: 0.8rem;
        padding: 2px 0;
        display: flex;
        align-items: center;
        a {
          text-decoration: none;
          color: white;
        }
        .icon {
          height: 20px;
          width: 20px;
          margin-right: 8px;
          // background-color: orange;
          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            height: 12px;
          }
        }
      }
    }
    .credits {
      padding-bottom: 20px;
      font-size: 0.75rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

@media (max-width: 767px) {
  footer {
    background-color: #000;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    .container {
      // height: 200px;
      height: 500px;
      // display: flex;
      // align-items: center;
      .credits {
        .copyright {
          display: none;
        }
      }
    }
  }
}
