.navbar {
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 0 4px $gray-400;
  .foo {
    &.nav-link {
      padding: 0;
    }
  }
  .navbar-brand {
    padding: 0;
    img {
      height: 36px;
    }
  }
  .navbar-toggler {
    padding: 0;
    font-size: 1.1rem;
    border: 0px;
    color: $gray-800;
    .navbar-toggler-icon {
      padding: 0;
    }
  }
  .navbar-nav {
    text-transform: uppercase;
    .nav-item {
      padding: 4px;
      .nav-link {
        font-size: 14px;
        color: black;
        font-weight: 500;
        &:hover {
          color: $primary;
        }
        &.disabled {
          color: $gray-400;
        }
      }
    }
  }
}
