.navbar {
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 0 4px $gray-400;
  a {
    //cursor: pointer !important;
  }
  .navbar-brand {
    padding: 0;
    margin-right: 0;
    .logo {
      height: 36px;
    }
  }
  .navbar-toggler {
    padding: 0;
    font-size: 1.1rem;
    border: 0px;
    color: $gray-800;
    .navbar-toggler-icon {
      padding: 0;
    }
  }
  .navbar-nav {
    text-transform: uppercase;
    .dropdown-menu {
      .dropdown-item {
        padding: 4px 16px;
        font-size: 0.8rem;
        color: black;
        font-weight: 500;
        &.active,
        &:hover {
          background-color: #fff;
          // color: $primary;
        }
      }
    }
    .nav-item {
      padding: 4px;
      .nav-link {
        font-size: 0.875rem;
        color: black;
        font-weight: 500;
        &.active,
        &:hover {
          // color: $primary;
        }
        &.disabled {
          color: $gray-400;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .navbar {
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 0 4px $gray-400;
    .navbar-brand {
      .logo {
        height: 32px;
      }
    }
    .navbar-nav {
      margin-top: 15px;
    }
  }
}
