.navbar {
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  .navbar-brand {
    img {
      height: 36px;
    }
  }
  .navbar-nav {
    text-transform: uppercase;
    .nav-item {
      padding: 4px;
      .nav-link {
        font-size: 14px;
        color: black;
        font-weight: 500;
        &:hover {
          color: $primary;
        }
        &.disabled {
          color: $gray-400;
        }
      }
    }
  }
}
