// h1
h1 {
  font-weight: 600;
  line-height: 3rem;
}
.big-title {
  font-size: $font-size-base * 4;
  font-weight: 700;
  margin-bottom: 0;
}
.soft {
  font-size: $font-size-base * 2.5;
  font-weight: 400;
  margin-bottom: 0;
}
.serif {
  font-size: $font-size-base * 2;
  font-family: serif;
  margin-bottom: 0;
}

h2 {
  font-weight: 400;
}

// p
.lead {
  font-weight: 300;
  letter-spacing: 0.02rem;
}
.small {
  font-weight: 400;
  font-size: 0.87rem;
}

@media (max-width: 767px) {
  h1 {
    font-weight: 600;
    font-size: 1.8rem;
  }
  .big-title {
    font-size: $font-size-base * 2.4;
    font-weight: 600;
    margin-bottom: 0;
  }
  .soft {
    font-size: $font-size-base * 1.8;
    font-weight: 400;
    margin-bottom: 0;
  }
  .serif {
    font-size: $font-size-base * 1.4;
    margin-bottom: 0;
  }
  .lead {
    font-size: $font-size-base * 1.1;
  }
}
