.home {
  .experience {
    padding: 80px 0;
    .grid-container {
      display: grid;
      grid-template: repeat(2, 314px) / repeat(3, 1fr);
      gap: 16px;
      grid-template-areas:
        'image-1 image-2 image-3'
        'image-4 image-5 image-5';
    }
    .grid-item {
      background-color: $gray-200;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        // filter: grayscale(1);
        // opacity: 0.3;
      }
    }
    .image-1 {
      grid-area: image-1;
    }
    .image-2 {
      grid-area: image-2;
    }
    .image-3 {
      grid-area: image-3;
    }
    .image-4 {
      grid-area: image-4;
    }
    .image-5 {
      grid-area: image-5;
    }
  }
}

@media (max-width: 767px) {
  .home {
    .experience {
      padding: 50px 0;
      .grid-container {
        grid-template: repeat(2, 240px) / repeat(3, 1fr);
        grid-template-areas:
          'image-1 image-2 image-3'
          'image-4 image-5 image-5';
        // gap: 8px;
        // grid-template-areas:
        //   'image-1 image-2'
        //   'image-3 image-4'
        //   'image-5 image-5';
      }
    }
  }
}
