.projects-finished {
  padding: 40px 0 80px 0;
  .card {
    padding: 0;
    margin-bottom: 30px;
    text-decoration: none;
    color: $general-text;
    border: 0px;
    .card-body {
      padding: 0;
      .card-title {
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 4px;
        font-size: 1.2rem;
      }
      .card-units {
        margin-bottom: 0px;
      }
      .card-address {
        margin-bottom: 0;
      }
    }
  }
}
