@import './custom';
@import '../node_modules/bootstrap/scss/bootstrap.scss';

@import './components/base';
@import './components/types';
@import './components/header';
@import './components/navbar';
@import './components/footer';
@import './components/pages';

// home
@import './components/home/slides';
@import './components/home/experience';
@import './components/home/our-ventures';
@import './components/home/benefits';

// product
@import './components/product/hero';
@import './components/product/menu';
@import './components/product/information';
@import './components/product/amenities';
@import './components/product/slides';
@import './components/product/video';
@import './components/product/typologies';
@import './components/product/investment';
@import './components/product/advances';
@import './components/product/location';

// ventures
@import './components/ventures/ventures';
@import './components/ventures/reasons';

// company
@import './components/company/company';

// commons
@import './components/commons/projects-finished';
@import './components/commons/company-cta';
@import './components/commons/contact';
